@model List<MusicVideo_MVC.Models.Mv>


<body>
    <h1>Clipes e suas avaliações</h1>

    <a asp-controller="Mv" asp-action="Cadastro">Novo clipe</a>

    <table>
        <thead>
            <tr>
                <th>Nome da música</th>
                <th>Artista</th>
                <th>Ano de lançamento</th>
                <th>Nota</th>
                <th>Comentario</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @* <tr>
                <td>Formation</td>
                <td>Beyonce</td>
                <td>2016</td>
                <td>5</td>
                <td>Tem conceito, tem crítica, tem ativismo, tem coreografia e tem beyonce</td>
                <td>
                    <button>Excluir</button>
                </td>
            </tr> *@

            @foreach (Mv musicvideo in Model)
            {
                <tr>
                    <td>@musicvideo.MusicName</td>
                    <td>@musicvideo.Artist</td>
                    <td>@musicvideo.ReleaseYear</td>
                    <td>@musicvideo.Rate</td>
                    <td>@musicvideo.Comment</td>
                    <td>
                        <form asp-controller="Mv" asp-action="Deletar" method= "post"
                            onsubmit= "return confirm('Deseja realmente deletar?');">
                            <input type="hidden" value= "@musicvideo.Id" name = "id">

                            <button type "submit" >Excluir</button>
                            
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

